*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

::selection {
  background-color: #c40000;
  color: #fff; }

body {
  font-family: "Nunito", sans-serif;
  color: #795d5d;
  font-weight: 300;
  line-height: 1.6; }

.heading {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }
  .heading-2 {
    font-size: 4rem;
    font-style: italic;
    line-height: 1;
    color: #352424; }
  .heading-3 {
    font-size: 1.6rem;
    color: #c40000;
    text-transform: uppercase; }
  .heading-4 {
    font-size: 1.9rem;
    color: #352424; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 2.5rem !important; }

.u-margin-bottom-big {
  margin-bottom: 3.5rem !important; }

.u-margin-bottom-huge {
  margin-bottom: 6rem !important; }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.u-margin-top-medium {
  margin-top: 2.5rem !important; }

.u-margin-top-big {
  margin-top: 3.5rem !important; }

.u-margin-top-huge {
  margin-top: 6rem !important; }

.btn {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  background-color: #c40000;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all .3s; }
  .btn:hover {
    background-color: #910505; }

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem; }
  .feature__icon {
    width: 4.5rem;
    height: 4.5rem;
    fill: #c40000;
    grid-row: 1 / span 2;
    transform: translateY(-1rem); }
  .feature__text {
    font-size: 1.7rem; }

.story__pictures {
  background-color: #000; }

.story__content {
  background-color: #aaa;
  padding: 6rem 7.5vw;
  /* It could be done with flex too
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        */
  display: grid;
  align-items: center;
  justify-items: start; }

.story__text {
  font-size: 1.5rem;
  font-style: italic; }

.sidebar {
  background-color: #c40000;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1; }

.header {
  background-color: #352424;
  grid-column: full-start / col-end 6; }

.realtors {
  background-color: #101d2c;
  grid-column: col-start 7 / full-end; }

.features {
  grid-column: center-start / center-end;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem;
  align-items: start; }

.story {
  grid-column: full-start / full-end;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr; }

.homes {
  background-color: #910505;
  grid-column: center-start / center-end; }

.gallery {
  background-color: #352424;
  grid-column: full-start / full-end; }

.footer {
  background-color: #101d2c;
  grid-column: full-start / full-end; }
