@mixin heading-color($color: $color-grey-light-2){
    @if $color == light {
        color: $color-grey-light-1;
    }

    @if $color == dark {
        color: $color-grey-dark-1;
    }
}

// MEDIA QUERY MANAGER
/* 

$breakpoint argument choices:
- phone : 414px
- phone-land : 576px
- tab-small : 768px
- tab-port : 900px
- tab-land : 1200px

NOTES:
1em and 1rem = 16px
16px is the default browser font size.

*/

@mixin respond($breakpoint) {

    @if $breakpoint == phone {
        @media only screen and (max-width: 26em) { @content }; // 414px - 414/16 =~ 26
    }

    @if $breakpoint == phone-land {
        @media only screen and (max-width: 36em) { @content }; // 576px - 576/16 = 36
    }

    @if $breakpoint == tab-small {
        @media only screen and (max-width: 48em) { @content }; //768px - 768/16 = 48
    }

    @if $breakpoint == tab-port {
        @media only screen and (max-width:56.25em) {@content}; //900px - 900/16 = 56.25
    }

    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content }; //1200px  - 1200/16 = 75
    }   
}