// COLORS
$color-primary: #c40000;
$color-primary-light: #eb0f0f;
$color-primary-dark: #910505;

$color-secondary: #101d2c;

$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #aaa;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;


$color-grey-dark-1: #352424;
$color-grey-dark-2: #795d5d;
$color-grey-dark-3: #a39494;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;