.sidebar {
    
    display: flex;
    justify-content: center; 
    
    @include respond(tab-port) {
        justify-content: flex-end;
        align-items: center;
    }

    .nav-btn {
        border: none;
        border-radius: 0;
        background-color: $color-grey-light-1;
        height: 2px;
        width: 4.5rem;
        margin-top: 4rem;
        transition: all .3s;
        cursor: pointer;

        &::before,
        &::after {
            content: "";
            display: block;
            background-color: $color-grey-light-1;
            height: 2px;
            width: 4.5rem;
        }

        &::before { transform: translateY(-1.5rem); }
        &::after { transform: translateY(1.3rem); }

        @include respond(tab-port) {
            margin-top: 0;
            margin-right: 2.5rem;

            &::before { transform: translateY(-1.2rem); }
            &::after { transform: translateY(1.0rem); }
        }
    }    
}